* {
    font-family: "Text Me One", "Lucida Sans Unicode", serif;
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::selection {
    color: white;
    background-color: #6BCCEF;
}
html {
    font-size: 16px;
}
@media (min-width: 1024px) {
    html {
        font-size: calc(1rem + ((1vw - 10.24px) * 0.6696));
    }
}
@media (min-width: 1920px) {
    html {
        font-size: 22px;
    }
}
body {
    background-color: #22313F;
    color: #CEF0FD;
}
html, body {
    overflow-x: hidden;
}
main {
    display: block; /* IE11 doesn't fully support main tag */
    max-width: 800px;
    margin: 48px auto;
    padding: 0 24px;
}